

.container {
    position:relative;
    text-align: center;
    width: auto;
    background-color: azure;
    font-size: 20px ;
    line-height: 22px;
}

section {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    width: 1200px;
    text-align: left;
    font-family: sans-serif;
}

 h1,h2 { 
    font-size: 20px ;
    
}

ul {
    text-align: left;
    
}

li {
    list-style-type: none;  
}

